@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.625rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Schibsted Grotesk", sans-serif;
}
span,
article {
  font-family: "Lora", serif;
}
a:hover {
  text-decoration: underline;
}

@layer base {
  h1 {
    @apply text-[4rem] leading-[1em] font-bold lg:text-[7.2rem] lg:leading-[7.6rem] capitalize;
  }
  h2 {
    @apply text-[3.6rem]  leading-9 font-semibold lg:text-[4.8rem] lg:leading-[5.76rem] capitalize;
  }
  h3 {
    @apply text-[3.2rem] leading-[4rem] font-bold capitalize;
  }
  h4 {
    @apply text-[3rem] font-bold leading-[4rem] lg:text-[3.8rem] lg:leading-[4.8rem] capitalize;
  }
  h5 {
    @apply text-[4.8rem] lg:text-[6.4rem] lg:leading-[7.6rem] capitalize;
  }
  button {
    @apply text-[2rem] lg:text-[2.6rem] lg:leading-[3.6rem] capitalize py-2 px-5 lg:px-10 lg:py-3 rounded-full  hover:bg-black hover:translate-x-[-.5rem] hover:scale-x-105
    hover:text-white ring-2 ring-black hover:duration-1000;
  }
  article {
    @apply text-[1.6rem] leading-5 lg:text-[2.8rem] lg:leading-[7.6rem] capitalize;
  }

  p {
    @apply text-[2.4rem] leading-[2.8rem] lg:text-[3rem] lg:leading-[5.6rem] capitalize tracking-wide font-extralight;
  }
  strong {
    @apply text-[2.4rem] leading-[3rem] lg:text-[3rem] lg:leading-[7.6rem] capitalize tracking-wide;
  }
  .lora {
    @apply text-[2rem] leading-6 lg:text-[2.4rem] lg:leading-[2.8rem] capitalize;
  }
}
@layer components {
  body {
    @apply px-10;
  }
  header {
    @apply flex items-center justify-between mt-10 mb-20;
  }
  .header-sec a {
    @apply flex items-center hover:decoration-white;
  }
  .clock-icon {
    @apply text-[4rem];
  }
  .hamburger {
    @apply text-4xl text-white bg-black p-3 rounded-full lg:hidden;
  }
  .nav {
    @apply hidden lg:visible lg:flex lg:items-center lg:gap-16 text-[1.8rem] font-bold lg:leading-[7rem];
  }
  nav a {
    @apply hover:decoration-black;
  }
  .nav-btn {
    @apply flex gap-5;
  }
  .nav button {
    @apply text-[2rem];
  }

  /* studio */
  .studio-text {
    @apply flex flex-col gap-10 items-start;
  }
  .studio-text h1 {
    @apply font-black lg:max-w-[60%];
  }
  .studio {
    @apply flex flex-col gap-10;
  }
  .studio article {
    @apply text-[4rem] leading-[50px]  lg:text-[7.2rem] lg:leading-[7.6rem]  font-extralight lowercase inline-block;
  }
  /* .studio-info {
    @apply flex flex-col;
  } */
  .studio-icon span {
    @apply text-3xl text-white  p-3 rounded-full bg-black;
  }
  .studio-info {
    @apply flex flex-col gap-[4rem] items-center;
  }
  .studio-info .btn {
    @apply w-full;
  }
  .studio-icon {
    @apply flex  gap-7;
  }
  .btn {
    @apply hover:bg-transparent hover:text-black;
  }
  /* galary */
  .galary-sec {
    @apply flex gap-7 py-36 items-center justify-between px-0;
  }
  .galary-sec img {
    @apply w-[23%] px-0;
  }
  /* cliend-sec */
  .client-sec {
    @apply flex flex-col gap-16 text-center lg:text-left m-auto pb-10 border-b border-b-2 border-black;
  }
  .client-info {
    @apply flex flex-col items-center gap-7  lg:flex-row lg:justify-between m-auto;
  }
  .client-info img {
    @apply lg:w-[17%] max-w-[30%] block;
  }
  /* service */
  .service-text {
    @apply flex flex-col  gap-10  items-start;
  }
  .service-sec {
    @apply flex flex-col gap-[5rem] pb-40  mb-10 border-b border-b-2 border-black;
  }

  .hamburger {
  }

  /* work */
  .work-sec {
    @apply flex flex-col   gap-14 pb-36 pt-10 border-b border-b-2 border-black;
  }
  .work-info {
    @apply flex flex-col  gap-14;
  }
  .work-info-2 {
    @apply lg:flex lg:flex-row;
  }
  .work-info-2 .work-text img {
    @apply lg:h-[340px] lg:w-full;
  }
  .work-text {
    @apply flex flex-col gap-10;
  }
  .work-text img {
    @apply w-full;
  }
  .work-text h1 {
    @apply font-semibold;
  }
  .work-btn {
    @apply flex gap-5 lg:mb-[3rem];
  }
  .wok-btn2 {
    @apply text-center m-auto;
  }
  .work-btn button {
    @apply text-[14px];
  }
  .work-btn2 button {
    @apply w-full;
  }
  /* testimonial */
  .testimonial-sec {
    @apply flex flex-col gap-10 pb-36 pt-10 border-b border-b-2 border-black;
  }
  .testimonial-sec h4 {
    @apply pt-36 font-bold;
  }
  .testimonial-info {
    @apply flex gap-7 items-center;
  }
  .testimonial-text {
    @apply flex flex-col;
  }
  .testimonial-img {
    @apply w-28 h-28 rounded-full;
  }
  /* career  */
  .career-sec {
    @apply flex flex-col gap-12 pb-28 pt-10 border-b border-b-2 border-black;
  }
  .career-info {
    @apply flex flex-col md:flex-row md:justify-between items-center gap-12;
  }
  .career-text {
    @apply flex flex-col gap-10 items-center;
  }
  /* blog  */
  .blog-sec {
    @apply flex flex-col gap-14  pt-10;
  }
  .blog-sec img {
    @apply h-[480px] w-full;
  }
  .blog-info {
    @apply flex flex-col  gap-14 py-36 md:flex-row md:justify-between;
  }
  .blog,
  .blog-text {
    @apply flex flex-col gap-9;
  }

  /* contact  */
  .contact-sec {
    @apply flex flex-col gap-20;
  }
  .contact-info {
    @apply flex flex-col gap-20 lg:flex-row lg:justify-between;
  }
  .contact-info .contact {
    @apply lg:w-1/3 lg:m-auto lg:box-border;
  }
  .contact {
    @apply flex flex-col gap-12 lg:gap-5 items-start;
  }
  .contact button {
    @apply bg-black text-white;
  }
  /* footer */
  footer {
    @apply py-20;
  }
  .footer {
    @apply flex flex-col gap-12 lg:flex-row;
  }
  .footer a,
  .footer-sec a {
    @apply text-[1.6rem] leading-5 lg:text-[1.8rem] lg:leading-[7.6rem] capitalize;
  }
  .footer-sec {
    @apply lg:flex  lg:justify-between lg:items-center;
  }
}
